@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');

body {
    background-color #eef0e9;
}

header {
    background-color:#e8dd36;
}

main {
    background-color: #36e2e8;
}

footer{
    background-color:#aae836;
}

h1 {
    font-family: "Bungee Spice", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.conteiner{

    text-align: right;
}